<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

  <link rel='stylesheet' href='\css\bootstrap.min.css'/>
   <link rel='stylesheet' href='\css\style.css' />
  </head>
  <body>

<!--code for navigation bar-->
     <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/home"> Marina Project Management</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            <li><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="active"><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/signout">Log Out</a></li>         
          </ul>
        </div>
      </div>
    </div>
       
 <!--code for navigation bar ends here-->
      
      <!-- Jumbotron -->

      <div class="jumbotron">
        <div class="container">
        <h3 class="lead"><strong>FAQ's</strong></h3>
        </div>
      </div>
        
     <div class="container home-panel ">
        <div class="panel panel-default " >
          <div class="panel-body">
        
          
          <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>
        How to create a project ?
      </h3>
      <h5>
        Go to project tile and click on create projects.
      </h5>
      
      <h3>
        How to edit or delete a project ?
      </h3>
      <h5>
        In the project tile click on edit or remove projects. Select a project and choose the action on the right corner of the screen.
      </h5>

      <h3>
        What is Beneficiary ?
      </h3>
      <h5>
        Beneficiary are the people or organizations benefited from the NGO.
      </h5>
      <h3>
        How do I go to home page ?
      </h3>
      <h5>
        By clicking on Marina Project Management in the top left corner.
      </h5>
    </div>
  </div>
</div>
</div>
</div>
        
      </div>


      <!-- Site footer -->
     <footer class="footer">
     
        <div class="container">
        
        <p> PayPal &copy; Powered By Marina</p>
        
        </div>

      </footer>
      </body>
      </html>