<!DOCTYPE html>
<html>
  <head>
    <title>Project Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">


  	<link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\signin.css' />
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\bootstrap-toggle.min.css'/>
    <link rel='stylesheet' href='\css\timeline.css'/>

  </head> 
  <body>  


<!--code for navigation bar-->
     <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/home"> Center for Sustainable Agriculture</a>
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        
      </div>
    </div>


<header class="panel-default bg-panel">
    <div class="container">
        <span class="bg-header">

        <H1>WE GROW BY HELPING OTHERS GROW</H1>
      <H2>JOIN HANDS BY SIGNING IN</H2>

      </span>
      

       <button class="btn btn-primary btn-lg" id="login_btn" type="submit" data-toggle="modal" data-target="#login">Log In</button>
                        
    <button class="btn btn-default btn-lg" id="signup_btn" type="submit" data-toggle="modal" data-target="#signup">Sign Up</button>

    </div>
</header>


<!--SignIn -->
 <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
   
      <form class="form-signin" action="/project" method="post">
      <h2 class="form-signin-heading"> Log In</h2>

        <label for="contact number" class="form-label">Username</label>
        
        <input type="text" id="contact number" maxlength="10" data-fv-numeric="true" data-fv-numeric-message="Please enter valid phone numbers" data-fv-phone-country11="IN" required="required" data-fv-notempty-message="This field cannot be left blank." placeholder="Mobile No. " class="form-control" name="data[User][mobile]" data-fv-field="data[User][mobile]">
   
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" placeholder="password" name="password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        
        <button  class="form-btn btn-lg btn-primary" id="login_btn" type="submit">Log In</button>
       
      </form>
    </div>

    </div>

    <!--Sign Up-->
     <div class="modal fade" id="signup" role="dialog">
    <div class="modal-dialog">
      <form class="form-signin" action="/register" method="post" >
      <h2 class="form-signin-heading"> Sign Up</h2>
        
        <label for="name" class="form-label">Your full Name</label>
        <input type="text" id="name" class="form-control" placeholder="Name" name="name" required autofocus>

        <label for="crop" class="form-label">Crop</label>
        <input type="text" id="crop" class="form-control" placeholder="Crop" name="crop" required autofocus>

        <label for="soil" class="form-label">Soil</label>
        <input type="text" id="soil" class="form-control" placeholder="Soil" name="soil" required autofocus>

        <label for="location" class="form-label">Location</label>
        <input type="text" id="location" class="form-control" placeholder="Location" name="location" required autofocus>

        <label for="number" class="form-label">Your Contact Number</label>
        <input type="text" id="number" class="form-control" placeholder="9840455949" name="number" required autofocus>

        <label for="password" class="form-label">Choose a password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
        
        <div><span class="error" id="pwdError"></span></div>
        <label for="confirmPassword" class="form-label">Confirm password</label>
        <input type="password" id="confirmPassword" class="form-control" placeholder="Password" name="confirmPassword" required>
        <div><span class="error" id="confirmPwdError"></span></div>

        <button class="form-btn btn-lg btn-primary" id="signup_btn" type="submit">Register</button>
        
      </form>
    </div>
 </div>

  




  <!-- Site footer -->
     <footer class="footer">
     
        <div class="container">
        
        <p> PayPal &copy; Powered By PEST</p>
        
        </div>

      </footer>



  </body>
</html>



<script src="\js\jquery.js"></script>
<script src="\js\bootstrap.min.js"></script>
<script src="\js\bootstrap-toggle.min.js"></script>

<script>
$(document).ready(function () {
  $(".modal").keypress(function(e) { 
    if (e.keyCode == 27) { 
        $("#signup").fadeOut(500);
        //or
        
    } 
});
  
  $("#inputPassword").focusout(function(){ 
    var pwd = $('#inputPassword').val();
    var confirmpwd = $('#confirmPassword').val();
    if(confirmpwd.length>0 && pwd.length > 0){
      
      if(confirmpwd == pwd){
       
        $("#confirmPwdError").html("");
      }
      if(confirmpwd != pwd)
      
      $("#confirmPwdError").html("Passwords dint match");

    }
    if(pwd.length < 8 && pwd.length >0 )
      $("#pwdError").html("Password is weak");
    else {
      $("#pwdError").html("");
    }
  });
  $("#confirmPassword").focusout(function(){
    var pwd = $('#inputPassword').val();
    var confirmpwd = $('#confirmPassword').val();
    if(pwd.length > 0 && confirmpwd.length > 0){
    if(confirmpwd != pwd )
      $("#confirmPwdError").html("Passwords dint match");
    if(confirmpwd == pwd)
        $("#confirmPwdError").html("");
      }
  });
  
});
  </script>


