    <!DOCTYPE html>
<html lang="en">
<head>
    <title>Project creation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="css/bootstrap-duallistbox.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='\css\bootstrap.min.css'/>
    <link rel='stylesheet' href='\css\form.css'/>
    <link rel='stylesheet' href='\css\jquery-ui.min.css'/>

</head>
<body>
    
   <!--code for navigation bar-->
     <div class="navbar navbar-default navbar-fixed-top navbar-home" >
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">CSA</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>  
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right ">
            
            <li><a href="/profile">Profile</a></li>
            
            <li><a href="/signout">Log Out</a></li>         
          </ul>
        </div>
      </div>
    </div>
     <!--  code for navigation bar ends here-->

    <div class="jumbotron">
      <div class="container" id="header">
        <h3 class="lead"><strong>Let us know how we can be helpful by answering simple questions</strong></h3> 
       </div>
    </div>

      <!--pop up for success message-->
    <div id="success" class="hidden">  
        <span class="success-msg">       
           <h4>Project Created Successfully <span class=" glyphicon glyphicon-ok"></span></h4>   
        </span> 
   </div>


    <div class="container beneficiary" id="main-container">
      <div class="panel panel-default beneficiary_panel" >
        <div class="panel-body">

    
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form  class="form-horizontal" role="form">
                    <div class="form-group ">
                        <label for="crop" class="control-label col-sm-4">What is the crop ?</label>
                        <div class="col-sm-8">
                              <input type="text" class="form-control" name="crop" id="crop"  autofocus placeholder="select the crop">
                                      
                              
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="soil" class="control-label col-sm-4">What is the soil type ?</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="soil" id="soil"  autofocus placeholder="select the soil">
                                      
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="stage1" class="control-label col-sm-4">What is the stage of the crop ?</label>
                         <div class="col-sm-8">
                             <input type="text" class="form-control" name="stage1" id="stage1" required autofocus placeholder="select the stage of crop">
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="stage" class="control-label col-sm-4">Is it a Pest ?</label>
                         <div class="col-sm-8">
                        <div class="modal-radio" align="center">
                        <label class="radio-inline">
                          <input type="radio" name="radio" id="yes">Yes</label>
                        <label class="radio-inline">
                          <input type="radio" name="radio" id="no">No</label>
                      </div>
                        <div id="imagelist"></div>

                            </div>
                    </div>

                    <div class="form-group">
                        <label for="stage1" class="control-label col-sm-4">Upload files</label>
                         <div class="col-sm-8">
                             <input type="file" id="choose" multiple="multiple" />
                             <br>
                            <div id="uploadPreview"></div>
                            </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-enquiry">Describe the problem you are facing. </label>
                        <div class="col-sm-8">
                            <textarea name="enquiry" rows="5" id="input-enquiry" class="form-control"></textarea>
                        </div>
                    </div>

                   
                    <div class="form-group">
                        <div class="col-sm-offset-6 col-xs-12 col-xs-offset-3">
                             <button class="btn btn-primary" id="submit" type="submit">Submit</button>
                        </div>
                    </div>
                    

     <!-- Site footer -->
     
     <footer class="footer">
        <div class="container"> 
          <p> PayPal &copy; Powered By Marina</p>
        </div>
     </footer>


    </body>
    <script src="\js\jquery.js"></script> 
    <script src="\js\jquery-ui.js"></script> 
    <script src="\js\bootstrap.min.js"></script>
    <script src="\js\jquery.bootstrap-duallistbox.min.js"></script>

    <script type="text/javascript">
    
     $(document).ready(function(){
      var uploadedImages = [];

      function readImage(file) {
  
    var reader = new FileReader();
    var image  = new Image();
  
    reader.readAsDataURL(file);  
    reader.onload = function(_file) {
        image.src    = _file.target.result;              // url.createObjectURL(file);
        uploadedImages.push(_file.target.result);
        console.log(_file.target.result);
        image.onload = function() {
            var w = "80px",
                h = "70px",
                t = file.type,                           // ext only: // file.type.split('/')[1],
                n = file.name,
                s = ~~(file.size/1024) +'KB';
            $('#uploadPreview').append('<img src="'+ this.src +'" style=\"width:80px;height:70px;\">' + ' '+s+' '+n+'<br>');
        };
        image.onerror= function() {
            alert('Invalid file type: '+ file.type);
        };      
    };
    
}
$("#choose").change(function (e) {
    if(this.disabled) return alert('File upload not supported!');
    var F = this.files;
    if(F && F[0]) for(var i=0; i<F.length; i++) readImage( F[i] );
});

        var availableCropTags = ["wheat", "paddy", "cotton"];

        var availableSoilTags = ["Black", "Red"];

         var availableStageTags = ["Sowing","Ploughing","Blooming","Harvest"];

        function split( val ) {
          return val.split( /,\s*/ );
        }
        function extractLast( term ) {
          return split( term ).pop();
        }
         $("#stage1").bind( "keydown", function( event )
         {
             if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
                 event.preventDefault();
             }
         })
                 .autocomplete({
                     minLength: 0,
                     source: function( request, response ) {
                         response( $.ui.autocomplete.filter(
                                 availableStageTags, extractLast( request.term ) ) );
                     },
                     focus: function() {
                         return false;
                     }
                     /*select: function( event, ui ) {
                      var terms = split( this.value );
                      terms.pop();
                      terms.push( ui.item.value );
                      terms.push( "" );
                      this.value = terms.join( ", " );
                      return false;
                      }  */
                 });
        $("#crop").bind( "keydown", function( event ) 
        {
          if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })                                                                             
        .autocomplete({
          minLength: 0,
          source: function( request, response ) {
            response( $.ui.autocomplete.filter(
            availableCropTags, extractLast( request.term ) ) );
          },
          focus: function() {
            return false;
          }
          /*select: function( event, ui ) {
            var terms = split( this.value );
            terms.pop();
            terms.push( ui.item.value );
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
          }  */                                                                            
        });

        $("#soil").bind( "keydown", function( event ) 
        {
          if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
            event.preventDefault();
          }
        })                                                                             
        .autocomplete({
          minLength: 0,
          source: function( request, response ) {
            response( $.ui.autocomplete.filter(
            availableSoilTags, extractLast( request.term ) ) );
          },
          focus: function() {
            return false;
          }
          /*select: function( event, ui ) {
            var terms = split( this.value );
            terms.pop();
            terms.push( ui.item.value );
            terms.push( "" );
            this.value = terms.join( ", " );
            return false;
          }  */                                                                            
        });

        $("input:radio[id=no]").click(function(){
          $('#imagelist').hide();
        });

        //Date controls
        $("input:radio[id=yes]").click(function(){

          if($('#imagelist').is(':empty')){
            $.ajax({
              url:"../data",
              type:"GET",
              //headers:{"Accept":"application/json;odata=verbose"},
              success:function(data){
                console.log(data);
                  for(var i in data){
                    //alert(i);
                    //var image = new Image();
                    //image.src = 'data:image/png;base64,'+data[i]._source.image;
                    $('#imagelist').append("<img class='pestImg' src='data:image/png;base64,"+data[i]._source.image+"'/>");
                  }
              },
              error:function(data){
                  alert("error inside this");
              }
            });
          }
          $('#imagelist').show();
          
               //$('#after-category').show();

         });

        var imgSource="";
        $('#imagelist').on('click','img',function(){
          $('.selected').removeClass('selected');
           $(this).addClass('selected');
           imgSource = this.src;
        });



        
         //Check if entered project exists in this category already
         


           //For submitting data

           $('#submit').on('click',function(e){
            //var formdata=new Object();
            var crop = $('#crop').val();
            var soil = $('#soil').val();
            var stage = $('#stage').val();
            var pestImage = "";
            if (imgSource != ""){
              pestImage = imgSource;
            }
            
              $.ajax({
                url:"../submit?crop="+crop+"&soil="+soil+"&stage="+stage+"&pestImage="+pestImage,
                type:"GET",
                success:function(){
                  //show solutions

                 },
                 error:function(){

                 }
             });

         });

                      
                });

    </script>


 
</html>
