#homepageBannerContainer {
height:auto;
}

.mobileHero {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/hero-app-v2.jpg) no-repeat scroll center top #ececec;
}

.signupHero {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/hero-signup-v2.jpg) no-repeat scroll center top #ececec;
}

.posHero {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/home_hero_radio.jpg) no-repeat scroll center top #ececec;
}

.smsHero {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/hero-here-v2.jpg) no-repeat scroll center top #ececec;
}

.signUpContainer {
position:absolute;
margin-top:0;
top:235px;
padding:20px 20px 22px;
}

.signUpContainer .androidAppBtn {
width:85px;
padding-left:0;
padding-right:0;
margin-right:6px;
}

.signUpContainer .iphoneAppBtn {
padding-left:0;
padding-right:0;
width:78px;
margin-right:6px;
}

.signUpContainer .windowsAppBtn {
padding-left:0;
padding-right:0;
width:93px;
}

.signUpContainer .icon {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/atm/home-mobile-icons-sprite-all.png) no-repeat scroll 3px -1px transparent;
display:inline-block;
margin-left:0;
height:19px;
padding:0 6px 0 26px;
}

.signUpContainer .mobile .icon {
padding-left:0;
}

.signUpContainer .iphoneAppBtn .icon {
background-position:3px -39px;
}

.signUpContainer .windowsAppBtn .icon {
background-position:4px -78px;
}

#content .signUpContainer .contentHeadline {
font-size:18px;
margin-bottom:8px;
}

.pageSubHeadline {
display:block;
width:435px;
}

.pageHeadline2 {
width:100%;
}

#content .fullWidthCTA {
width:236px;
}

.formMedium .button.androidAppBtn,.formMedium .button.iphoneAppBtn,.formMedium .button.windowsAppBtn {
padding-bottom:6px;
}

.heroList {
margin-top:24px;
margin-left:-2px;
}

.heroList li {
list-style-type:none;
}

.heroList .bullet {
padding-right:10px;
}

.legalLine {
font-size:11px;
margin-top:40px;
}

.legalLine a {
color:#5e5e5e;
}

#paypal-here-sms-cta,.heroTray a.button {
width:241px;
padding-left:15px;
padding-right:15px;
margin:5px 0 8px;
}

.mobile_number_input {
width:274px;
}

.js .formMedium.lap div.textInput label,.js .formMedium .lap div.textInput label,.js .formMedium div.lap.textInput label {
top:4px;
}

#content .mobileIosIcon,#content .mobileAndroidIcon,#content .mobileWindowsIcon {
background:url(https://www.paypalobjects.com/webstatic/mktg/consumer/pages/home/home-mobile-icons-sprite-all-variants.png) no-repeat scroll left -104px transparent;
height:19px;
width:55px;
font-size:11px;
color:rgba(0,0,0,0.4);
font-weight:700;
padding-left:20px;
list-style-type:none;
display:inline-block;
text-shadow:none;
margin:-10px 0 0;
}

#content .mobileIcons {
margin:8px 0 0;
}

#content .mobileIosIcon {
background-position:0 -123px;
}

#content .mobileWindowsIcon {
background-position:0 -142px;
}

.errorFormatClose {
display:none;
}

.errorFormatOpen {
display:block;
}

.helpError {
position:relative;
border:1px solid #EFCACA;
background:#F7EBEB;
font:.923em/1.417em Arial;
color:#666;
text-shadow:0 1px #FFF;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
-moz-background-clip:padding;
-webkit-background-clip:padding-box;
background-clip:padding-box;
max-height:20em;
box-shadow:0 0 5px rgba(220,99,88,.6), 0 2px 2px rgba(0,0,0,0.15) inset;
padding:8px 12px;
}

#marketing form .helpErrorIcon {
border:1px solid #de746a;
-webkit-box-shadow:0 0 5px 0 rgba(220,99,88,0.6),inset 0 2px 2px 0 rgba(0,0,0,0.15);
-moz-box-shadow:0 0 5px 0 rgba(220,99,88,0.6),inset 0 2px 2px 0 rgba(0,0,0,0.15);
box-shadow:0 0 5px rgba(220,99,88,.6), 0 2px 2px rgba(0,0,0,0.15) inset;
background:#fff url(https://www.paypalobjects.com/webstatic/mktg/consumer/recovery/ui-sprite.png) no-repeat scroll right -2192px;
}

.smsConfirmationText {
font-size:13px;
line-height:19px;
}

.smsConfirmationText .backLink {
position:relative;
top:5px;
}

.SMSLegalFinePrint {
font-size:11px;
line-height:14px;
color:#5e5e5e;
text-shadow:0 1px 0 #fff;
}

.heroTray {
margin-top:20px;
width:274px;
background-color:rgba(0,0,0,0.05);
padding:14px 20px 8px;
}

.heroTray .contentHeadline {
font-size:18px;
color:#555;
}

.heroTray .legalLine {
margin-top:0;
color:#5e5e5e;
}

.signupHero .heroTray {
margin-top:62px;
}

#content .col1 a:link,#content .col2 a:link,#content .col3 a:link {
text-decoration:none;
color:#0079C1;
font-weight:400;
}

#content .threeColumnKicker .kickerLinks:hover {
text-decoration:underline;
}

#content .threeColumnKicker .kickerLinks:link,#content .threeColumnKicker .kickerLinks:visited {
font-weight:700;
}

<style type="text/css">a.button,.button,button,a.button,.button,button {
-webkit-font-smoothing:antialiased;
}

#page #gblFooter .footerNav form.lap div.textInput,#page #gblMarketingFooter .footerNav form.lap div.textInput {
display:inline-block;
}

@media only screen and -webkit-device-pixel-ratio15{
#content .pageHeadline2 {
font-size:24px;
}
}